body{
    background-color:#18191A ;
}

h1{
    color: #4294FF !important;
    font-size: 50px !important;
    font-family: 'Lucida Sans' !important;
    margin: 0px;
    
}
.content{
    margin: 0 auto;
    width: 500px;
    height: 1000px;
  
}